@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  position: relative;

}
body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
.home {
  height: 100vh;
}
.gradient-bg {
  background-image: linear-gradient(to top right, #024d6a, #081b28);
  color: #fff;
}
.px-6 { 
  padding: 0 5rem;
}
.px-7 { 
  padding: 0 10rem;
}
.mx-7 { 
  margin: 0 10rem;
}
.my-7 { 
  margin: 10rem 0;
}
.mb-6 { 
  margin: 0 0 5rem;
}
.mb-7 { 
  margin: 0 0 10rem;
}

.navbar, footer {
  background-color: #081b28;
}
.light-bg {
  background-color: #EEF2F7!important;
}

/*Photo Gallery*/
.headerDiv {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.photo img {
  width: 90%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  height: auto;
}

/*Skills*/
.skill-item img {
  transition: all 0.4s;
}
.skill-item img:hover {
  transform: scale(1.1);
}

/*Contact Me*/
form button {
  background-color: #081b28!important;
}
form button:hover {
  background-color: #26495e!important;
}

#success-msg {
  color: green;
}
#error-msg {
  color: red;
}

/*Footer*/
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}